* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    width: 100%;
}
.container {
    height: 100%;
    width: 100%;
    background-color: rgb(68, 62, 62);
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
}
.item {
    height: 100px;
    width: 100px;
    background-color: rgb(3, 63, 63);
    border: 2px solid rgb(195, 188, 188);
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-self: stretch; -> horizental for 1 self */
    /* align-self: end;  verticlal for 1 self */
    place-self: center;  /*vertical+horizental*/
    

}