* {
    color: white;
    text-align: center;
    font-size: 10px;
}
#container {
    height: 300px;
    border: 10px solid black;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    border: 2px solid black;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#inner-container{
    height: 200px;
    display: flex;
    align-items: center;
    justify-items: center;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
}

#box1 {
    border: 2px solid black;
    height: 150px;
    width: 300px;
    
}
#box2 {
    border: 2px solid black;
    height: 150px;
    width: 400px;
    flex-shrink: 0.5;
}
#box3 {
    border: 2px solid black;
    height: 150px;
    width: 300px;
}

.d {
    height: 100px;
    width: 300px;
    background-color: #036873;
    border: 5px solid #010c0d;
    /* padding: 10px; */
    margin-top: 20px;
    font-size: 10px;
}

#d1{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}

#innerD1{
    height: 40px;
    width: 80px;
    background-color: green;
    border: 1px solid white;
    display: flex;
    align-content: flex-end;
}

#d2 {
    display: flex;
    justify-items: center;
}

#innerD2{
    height: 40px;
    width: 80px;
    background-color: purple;
    border: 1px solid white;
}