* {

    font-family: "Times New Roman";
}
p {
    text-align: center;
}
h1 {
    text-align: center;
    text-transform: capitalize;
    text-decoration: blue wavy underline;
}
a {
    text-decoration: none;
}
#outer {
    font-size: 25px;
}
#inner {
    font-size: 10px;
}